.HOVER {
    --width: 100%;
    --time: 0.7s;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 1em;
    padding: 1.8em;
    color: #ffffff;
    background: #222;
    overflow: hidden;
}

.HOVER text {
    position: relative;
    z-index: 5;
    transition: color var(--time);
}

.HOVER:hover text {
    color: white;
}

.HOVER span {
    position: absolute;
    display: block;
    content: "";
    z-index: 0;
    width: 0;
    height: 0;
    border-radius: 100%;
    background: #9580FF;
    transform: translate(-50%, -50%);
    transition: width var(--time), padding-top var(--time);
}

.HOVER:hover span {
    width: calc(var(--width) * 2.25);
    padding-top: calc(var(--width) * 2.25);
}