.hologram_btn {
    display: inline-block;
    padding: 0.5em 0.6em;
    border-radius: 0;
    color: #000000; // Couleur du texte du bouton
    margin-top: 2rem;
    text-decoration: none;
    position: relative;
    transition: all 250ms ease;
    background-color: transparent; // Fond transparent pour le bouton lui-même

&:before,
    &:after {
        content: 'site web'; // Texte à afficher
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex; // Utiliser Flexbox pour le centrage
        align-items: center; // Centrer verticalement
        justify-content: center; // Centrer horizontalement
        border: 2px solid #000000; // Couleur de la bordure
        transition: 0.25s;
        color: #000000; // Couleur du texte
        background-color: transparent; // Fond transparent par défaut
    }

    &:before {
        background-color: #9580FF; // Fond violet pour le pseudo-élément :before
        border: none; // Couleur de la bordure
        transform: translateX(0.40em) translateY(0.05em);
    }

    &:after {
        background-color: white; // Fond blanc pour le pseudo-élément :after
        transform: translateX(0.25em) translateY(-0.25em);
    }

    &:hover {

        &:before,
        &:after {
            transform: translateX(0) translateY(0); // Réinitialiser la transformation au survol
        }
    }
}