.default,
.buy {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #9580FF;
    border-radius: 50%;
    pointer-events: none;
    z-index: 100;
    transition: background-color 0.3s ease, transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.default {
    width: 20px;
    height: 20px;
}

.buy {
    width: 60px;
    height: 60px;
    mix-blend-mode: screen;
}