.default,
.title,
.section,
.subtitle {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #9580FF;
    border-radius: 50%;
    pointer-events: none;
    z-index: 100;
    transition: background-color 0.3s ease, transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.section {
background-color: #06193A;
width: 15px;
    height: 15px;
}

.default {
    width: 15px;
    height: 15px;
}

.title {
    width: 80px;
    height: 80px;
    mix-blend-mode: screen;    
}

.subtitle {
    width: 20px;
        height: 20px;
    background-color: #af1260;
    mix-blend-mode: screen;
}